<div class="card">
    <div class="card-header">Loan Table</div>
    <div class="card-body">
        
        <table class="table table-responsive table-striped">
            <thead>
              <tr>
                <th scope="col">Source Currency</th>
                <th scope="col">Destination Currency</th>
                <th scope="col">Total Profit (%)</th>
                <th scope="col">Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">USD</td>
                <td>GBP</td>
                <td>20%</td>
                <td>Offer</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">
                            <fa-icon [icon]="checkCircle" animation=""></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <fa-icon [icon]="timesCircle" animation=""></fa-icon>
                        </button>
                    </div>
                </td>
              </tr>
              <tr>
                <td scope="row">USD</td>
                <td>GBP</td>
                <td>20%</td>
                <td>Offer</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">
                            <fa-icon [icon]="checkCircle" animation=""></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <fa-icon [icon]="timesCircle" animation=""></fa-icon>
                        </button>
                    </div>
                </td>
              </tr>
              <tr>
                <td scope="row">USD</td>
                <td>GBP</td>
                <td>20%</td>
                <td>Offer</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-success">
                            <fa-icon [icon]="checkCircle" animation=""></fa-icon>
                        </button>
                        <button type="button" class="btn btn-danger">
                            <fa-icon [icon]="timesCircle" animation=""></fa-icon>
                        </button>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>


    </div>
</div>