<div class="card">
    <div class="card-body">
        <h1 style="text-align: center;">Wallet</h1>
    </div>

    
    <div class="container">
        <div class="card">
            
            <div class="card-body" style="text-align: center;">
                <h4>Current USD</h4>
                <h5 >$100 USD</h5>
                <div class="btn btn-primary">Topup Amount <fa name="plus-circle" animation=""></fa> </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            
            <div class="card-body" style="text-align: center;">
                <h4>Current SGD</h4>
                <h5 >$100 SGD</h5>
                <div class="btn btn-warning">Topup Amount <fa name="plus-circle" animation=""></fa></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card">
            
            <div class="card-body" style="text-align: center;">
                <h4>Current GBP</h4>
                <h5 >$100 GBP</h5>
                <div class="btn btn-danger">Topup Amount <fa name="plus-circle" animation=""></fa></div>
            </div>
        </div>
    </div>

</div>
